/*-----------------------------------------------------
 * Project name: Huddle landing page.
 * Developer: Uplink Technologies.
 * License: MIT
 * Link: https://www.uplink.co.tz
 */

/*-----------------------------------------------------
 General style
 ------------------------------------------------------*/
:root {
   --white: hsl(0, 0%, 100%);
   --pink: hsl(322, 100%, 66%);
   --very-pale-cyan: hsl(193, 100%, 96%);
   --very-dark-cyan: hsl(192, 100%, 9%);
   --grayish-blue: hsl(208, 11%, 55%);
   --heading-font-family: 'Poppins', sans-serif;
   --head-font-weight: 600;
   --c-t-a-font-family: 'Open Sans', sans-serif;
   --c-t-a-font-weight-head: 700;
   --c-t-a-font-weight-body: 400;
}

body {
   font-size: 18px;
   margin: 0;
   padding: 0;
}

.text-uppercase{
   text-transform: uppercase;
}

/*--------------------------------------------------------
 Top up label 
 ---------------------------------------------------------*/
.main-bg {
   padding: 40px;
   background-color: var(--very-pale-cyan);
   background-image: url(/assets/images/bg-hero-desktop.svg);
   background-repeat: no-repeat;
}

/*---------------------------------------------------------
topbar
-----------------------------------------------------------*/
.topbar {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}

.subscription-button {
   background-color: var(--white);
   border: none;
   border-radius: 50px;
   padding: 20px;
   width: 17em;
   text-transform: capitalize;
   font-weight: 700;
}

.subscription-button:hover {
   cursor: pointer;
   color: #808080;
}

/*-------------------------------------------------------
top content
---------------------------------------------------------*/
.top-content {
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 20px;
}

.user-int {
   margin-top: 50px;
}

.user-int>h2 {
   font-size: 2em;
   font-family: var(--c-t-a-font-family);
   font-weight: 700;
   text-transform: capitalize;
}

.start-button {
   border: none;
   border-radius: 50px;
   background-color: var(--pink);
   color: var(--white);
   text-transform: capitalize;
   font-family: var(--c-t-a-font-family);
   padding: 15px;
   width: 17em;
}

.start-button:hover {
   cursor: pointer;
   opacity: 0.4;
}

.back-mockup {
   width: 790px;
}

/*------------------------------------------------------
features section
-------------------------------------------------------*/

.main-content {
   margin-top: 50px;
}

.c-container {
   padding: 50px;
}

.c-row {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 30px;
}

.c-t-a {
   background-color: var(--white);
   color: #000000;
   border-radius: 5px;
   box-shadow: 0 4px 8px 0 #808080;
   padding: 20px;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   align-content: center;
   justify-content: space-around
}

.c-t-a-content {
   margin: 30px;
   width: 500px;
}

.c-t-a-content > h2 {
   font-family: var(--c-t-a-font-family);
   text-transform: capitalize;
}

.p-c-t-a{
   color: gray;
   margin-top: -10px;
   font-family: var(--c-t-a-font-family);
   font-size: 15px;
}

.ill-img {
   width: 350px;
}

/*-------------------------------------------------------
call to action card
---------------------------------------------------------*/

.c-t-card{
   background-color: var(--white);
   width: 40%;
   padding: 20px;   
   margin: auto auto -100px auto;
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   align-content: center;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 4px 4px 0;
}

.c-t-card-head{
   font-family: var(--c-t-a-font-family);
   text-transform: capitalize;
   font-size: 30px;
}

.c-t-m-button{
   background-color: var(--pink);
   color: var(--white);
   border: none;
   border-radius: 50px;
   padding: 20px;
width: 17em;
}

.c-t-m-button:hover{
   cursor: pointer;
   opacity: 0.6;
}

/*--------------------------------------------------------
footer style 
-----------------------------------------------------------*/
.main-footer {
   background-color: var(--very-dark-cyan);
}

a,
i {
   color: var(--white);
}

.footer-container {
   padding: 20px 50px 0 20px;
}

.f-row {
   padding: 130px 0 50px 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
}

img{
   color: var(--white);
}
.f-logo {

   margin-bottom: 40px;
}

.d-2 {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
align-items: center;
}

.link-list{
   list-style: none;
   margin-top: 105px;
}

.link-list-item { 
   margin-top: 10px;
   font-family: var(--c-t-a-font-family);
   font-weight: 400;
   text-transform: capitalize;
}

.link-list-item > a{
   text-decoration: none;
}

.link-list-item > a:hover{
   text-decoration: underline;
}

.col-4{
   margin-top: 105px;
}

.social-link-m{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: start;
   align-items: center;
}

.social-link{
   margin-right: 25px;
   border: 1px solid var(--grayish-blue);
   border-radius: 50%;
   padding: 10px;
}

.social-icon-link > i{
   font-size: 16px;
}


.p-email,
.p-number,
.p-location {
   color: var(--white);
}

.flex-logo {
   margin: 10px;
   height: 20px;
}